/*
 * ----------------------------------
 *  exome_n-of-1 Nextflow config file
 * ----------------------------------
 * Default config options for all environments.
 */

params {

  container = 'library://bruce.moran/default/projects:somatic_n-of-1.centos7.mamba'

  withName:'gridss|gridss_filter|gridss_software_vers' {
    container = 'shub://brucemoran/Singularity:gridss.2.9.4.docker'
  }

  withName:'cpsrreport|pcgrreport|pcgr_software_vers' {
    container = 'shub://brucemoran/Singularity:pcgr.docker'
  }

  withName:'pyclonevi' {
    container = 'shub://brucemoran/Singularity:pyclone-vi.centos7.conda'
  }

  withName:'pairtree_setup|pairtree_run' {
    container = 'shub://brucemoran/Singularity:pairtree.centos7.mamba'
  }

  refDir = null
  help = false
  runID = "somatic_n-of-1"
  assembly = "GRCh38"
  incOrder = null
  germline = true
  seqLevel = "WGS"
  exomeTag = null
  scatGath = null
  multiqcConfig = "$baseDir/assets/somatic_n-of-1.multiQC_config.yaml"
  cosmic = false
  localPCGRdata = null
  phylogeny = false

  //Hartwig GRIDSS refs
  hartwigGPLURL37 = 'https://nextcloud.hartwigmedicalfoundation.nl/s/LTiKTd8XxBqwaiC/download?path=%2FHMFTools-Resources%2FGRIDSS-Purple-Linx-Docker/gpl_ref_data_37.gz'

  hartwigGPLURL38 = 'https://nextcloud.hartwigmedicalfoundation.nl/s/LTiKTd8XxBqwaiC/download?path=%2FHMFTools-Resources%2FGRIDSS-Purple-Linx-Docker/gpl_ref_data_38.gz'

  //PCGR data bundles
  pcgrURL37 = 'http://insilico.hpc.uio.no/pcgr/pcgr.databundle.grch37.20201123.tgz'
  pcgrURL38 = 'http://insilico.hpc.uio.no/pcgr/pcgr.databundle.grch38.20201123.tgz'
}

profiles {

  genome {
    includeConfig 'conf/genome.config'
    includeConfig 'conf/genomes.config'
  }

  sonic {
    includeConfig 'conf/sonic.config'
    includeConfig 'conf/genomes.config'
  }

  genome_refs {
    includeConfig 'conf/genome_refs.config'
    includeConfig 'conf/genomes.config'
  }

  sonic_refs {
    includeConfig 'conf/sonic_refs.config'
    includeConfig 'conf/genomes.config'
  }

  singularity {
    singularity.enabled = true
  }
}

timeline {
  enabled = true
  file = "pipeline_info/somatic_n-of-1.timeline.html"
}

report {
  enabled = true
  file = "pipeline_info/somatic_n-of-1.report.html"
}

trace {
  enabled = true
  file = "pipeline_info/somatic_n-of-1.trace.txt"
}

dag {
  enabled = true
  file = "pipeline_info/somatic_n-of-1.dag.svg"
}

manifest {
  name = 'brucemoran/somatic_n-of-1'
  author = 'Bruce Moran'
  homePage = 'https://github.com/brucemoran/somatic_n-of-1'
  description = 'Nextflow somatic n-of-1 analysis pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = '1.1'
}
