/*
 * ----------------------------------
 *  exome_n-of-1 Nextflow config file
 * ----------------------------------
 * Default config options for all environments.
 */

params {
  container = 'library://bruce.moran/default/projects:somatic_n-of-1.centos7.conda'
  refDir = null
  help = false
  runID = "somatic_n-of-1"
  assembly = "GRCh38"
  incOrder = null
  germline = true
  seqLevel = "WGS"
  exomeTag = null
  scatGath = null
  multiqcConfig = "$baseDir/assets/somatic_n-of-1.multiQC_config.yaml"
  cosmic = null
}

profiles {

  standard {
    includeConfig 'conf/base.config'
    includeConfig 'conf/genome.config'
    includeConfig 'conf/genomes.config'
  }

  refs {
    includeConfig 'conf/base.config'
    includeConfig 'conf/refs.config'
    includeConfig 'conf/genome.config'
    includeConfig 'conf/genomes.config'
  }

  singularity {
    singularity.enabled = true
  }
}

timeline {
  enabled = true
  file = 'pipeline_info/somatic_n-of-1.timeline.html'
}

report {
  enabled = true
  file = 'pipeline_info/somatic_n-of-1.report.html'
}

trace {
  enabled = true
  file = 'pipeline_info/somatic_n-of-1.trace.txt'
}

dag {
  enabled = true
  file = 'pipeline_info/somatic_n-of-1.dag.svg'
}

manifest {
  name = 'brucemoran/somatic_n-of-1'
  author = 'Bruce Moran'
  homePage = 'https://github.com/brucemoran/somatic_n-of-1'
  description = 'Nextflow n-of-1 analysis pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = '1.1'
}
