/*
 * -------------------------------------------
 *  Nextflow base config file for somatic_n-of-1
 * -------------------------------------------
 * Imported under the default 'standard' Nextflow
 * profile in: nextflow.config
 */

params {
  //per process maximums
  max_memory = 32.GB
  max_cpus = 10
  max_time = 36.h

}

process {

  container = params.container
  withName:gridss {
        container = 'shub://bruce.moran/Singularity:gridss-purple-linx.1.2.0.docker'
  }
  withName:purple {
        container = 'shub://bruce.moran/Singularity:gridss-purple-linx.1.2.0.docker'
  }
  withName:linx {
        container = 'shub://bruce.moran/Singularity:gridss-purple-linx.1.2.0.docker'
  }
}
