/*
 * -------------------------------------------------
 *  Nextflow config file for IEHG Genome cluster
 * -------------------------------------------------
 * Imported under the 'genome' Nextflow profile in:
 * exome_n-of-1.nextflow.config
 */

process {
  withName:bbduk {
    executor = 'pbs'
    cpus = 8
    memory = 32.GB
    time = 36.h
  }
  withName:fastp {
    executor = 'pbs'
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
  withName:fastqc {
    executor = 'pbs'
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
  withName:bwamem {
    executor = 'pbs'
    cpus = 20
    memory = 64.GB
    time = 36.h
  }
  withName:cram {
    executor = 'pbs'
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:mrkdup {
    executor = 'pbs'
    cpus = 20
    memory = 64.GB
    time = 36.h
  }
  withName:gtkrcl {
    executor = 'pbs'
    cpus = 20
    memory = 64.GB
    time = 36.h
  }
  withName:gatkgerm {
    executor = 'pbs'
    cpus = 20
    memory = 64.GB
    time = 36.h
  }
  withName:cpsrreport {
    executor = 'pbs'
    cpus = 10
    memory = 32.GB
    time = 36.h
  }
  withName:grmflt {
    executor = 'local'
  }
  withName:smaflt {
    executor = 'local'
  }
  withName:mltmet {
    executor = 'pbs'
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
  withName:fctcsv {
    executor = 'pbs'
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
  withName:fctcon {
    executor = 'pbs'
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
  withName:mutct2 {
    executor = 'pbs'
    cpus = 40
    memory = 120.GB
    time = 36.h
  }
  withName:mutct2_contam {
    executor = 'pbs'
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:mntstr {
    executor = 'pbs'
    cpus = 10
    memory = 30.GB
    time = 36.h
  }
  withName:lancet {
    executor = 'pbs'
    cpus = 20
    memory = 60.GB
    time = 36.h
  }
  withName:vepann {
    executor = 'pbs'
    cpus = 10
    memory = 32.GB
    time = 36.h
  }
  withName:vcfGRa {
    executor = 'pbs'
    cpus = 20
    memory = 64.GB
    time = 36.h
  }
  withName:pcgrreport {
    executor = 'pbs'
    cpus = 10
    memory = 32.GB
    time = 36.h
  }
  withName:mltiQC {
    executor = 'pbs'
    cpus = 10
    memory = 32.GB
    time = 36.h
  }
}

conda.cacheDir = '/data/genome/bmoran/conda/nextflow'

singularity {

  cacheDir = '/data/genome/bmoran/singularity/nextflow'
  runOptions = '--bind /data/genome/bmoran:/data/genome/bmoran'

}
