/*
 * -----------------------------------------------------
 *  somatic_exome_n-of-1 references Nextflow config file
 * -----------------------------------------------------
 * Imported under 'genome_refs' Nextflow profile in:
 * nextflow.config
 */

process {

  executor = 'pbs'
  cache = 'lenient'
  time = '48.h'
  container = 'library://bruce.moran/default/projects:somatic_n-of-1.centos7.conda'

  withLabel:gs {
    container = 'shub://brucemoran/Singularity:centos7-gsutil'
  }

  withLabel:low_mem {
    cpus = 2
    memory = 4.GB
  }

  withLabel:med_mem {
    cpus = 5
    memory = 16.GB
  }

  withLabel:high_mem {
    cpus = 20
    memory = 32.GB
  }

  withLabel:max_mem {
    cpus = 40
    memory = 64.GB
  }

  withName:cosmic {
    executor = 'local'
    cache = 'lenient'
  }
}

singularity {

  cacheDir = '/data/genome/bmoran/singularity/nextflow'
  runOptions = '--bind /data/genome/bmoran:/data/genome/bmoran'
  autoMounts = 'true'

}

params {

  //allow to not DL dbSNP+other large variant DBs (530 error on limit to connections, but allow other resources to be updated)
  nodbsnp = null

  //allow not setting VEP
  novep = null

  //allow not setting PCGR data
  nopcgr = null
  pcgrURL37 = 'http://insilico.hpc.uio.no/pcgr/pcgr.databundle.grch37.20200920.tgz'
  pcgrURL38 = 'http://insilico.hpc.uio.no/pcgr/pcgr.databundle.grch38.20200920.tgz'

  //autoset which pipeline to run (GRCh38 by default)
  outDir = "work"
  exomeBedURL = null
  exomeBedFile = null
  exomeTag = null

  //old tools not supported but not removed from script turned off by this
  legacy = null

  //for upcoming 'tumour-only' pipeline/spinoff
  pisces = null

  //COSMIC
  cosmicUser = null
  cosmicPass = null
  cosmicVers = "v91"
}

timeline {
  enabled = true
  file = "pipeline_info/download-references.${params.assembly}.timeline.html"
}

report {
  enabled = true
  file = "pipeline_info/download-references.${params.assembly}.report.html"
}

trace {
  enabled = true
  file = "pipeline_info/download-references.${params.assembly}.trace.txt"
}

dag {
  enabled = true
  file = "pipeline_info/download-references.${params.assembly}.dag.svg"
}
