/*
 * -------------------------------------------------
 *  Nextflow config file for IEHG Genome cluster
 * -------------------------------------------------
 * Imported under the 'genome' Nextflow profile in:
 * nextflow.config
 */

process {
  withName:bbduk {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
  withName:fastp {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:fastqc {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:bwamem {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 10
    memory = 32.GB
    time = 36.h
  }
  withName:cram {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:mrkdup {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 10
    memory = 32.GB
    time = 36.h
  }
  withName:gtkrcl {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 10
    memory = 32.GB
    time = 36.h
  }
  withName:gatkgerm {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 10
    memory = 32.GB
    time = 36.h
  }
  withName:cpsrreport {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:combine_gs {
    executor = 'local'
  }
  withName:mltmet {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
  withName:fctcsv {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:fctcon {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:scat_gath {
    executor = 'local'
    cache = 'lenient'
  }
  withName:mutct2_sg {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:mutct2_concat {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:mutct2_concstat {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:mutct2_contam_filter {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 8
    memory = 24.GB
    time = 36.h
  }
  withName:mutct2_f1r2_comb {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:mntstr {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 10
    memory = 30.GB
    time = 36.h
  }
  withName:lancet_sg {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:lancet_concat {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:lancet_filter {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:vepann {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:vcfGRa {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 4
    memory = 12.GB
    time = 36.h
  }
  withName:pcgrVcf {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 2
    memory = 4.GB
    time = 36.h
  }
  withName:pcgrreport {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 2
    memory = 4.GB
    time = 36.h
  }
  withName:mltiQC {
    executor = 'pbs'
    cache = 'lenient'
    cpus = 2
    memory = 4.GB
    time = 36.h
  }
}

conda.cacheDir = '/data/genome/bmoran/conda/nextflow'

singularity {

  cacheDir = '/data/genome/bmoran/singularity/nextflow'
  runOptions = '--bind /data/genome/bmoran:/data/genome/bmoran'

}
