/*
 * ----------------------------------------------------------
 *  Nextflow config file for Genome HPC cluster (PBS/Torque)
 * ----------------------------------------------------------
 * Imported under the 'genome' Nextflow profile in:
 * nextflow.config
 */

params {

  //per process maximums
  max_memory = 64.GB
  max_cpus = 40
  max_time = 36.h

}

process {

  withName:'gridss|gridss_software_vers' {
    container = 'shub://brucemoran/Singularity:gridss.2.9.4.docker'
  }

  executor = 'pbs'
  cache = 'lenient'
  time = '48.h'

  withLabel:gs {
    container = 'shub://brucemoran/Singularity:centos7-gsutil'
  }

  withLabel:low_mem {
    cpus = 2
    memory = 4.GB
    container = 'library://bruce.moran/default/projects:somatic_n-of-1.centos7.conda'
  }

  withLabel:med_mem {
    cpus = 5
    memory = 16.GB
    container = 'library://bruce.moran/default/projects:somatic_n-of-1.centos7.conda'
  }

  withLabel:high_mem {
    cpus = 20
    memory = 32.GB
    container = 'library://bruce.moran/default/projects:somatic_n-of-1.centos7.conda'
  }

  withLabel:max_mem {
    cpus = 40
    memory = 64.GB
    container = 'library://bruce.moran/default/projects:somatic_n-of-1.centos7.conda'
  }

  withName:cosmic {
    executor = 'local'
    cache = 'lenient'
    container = 'library://bruce.moran/default/projects:somatic_n-of-1.centos7.conda'
  }
}

conda.cacheDir = '/data/genome/bmoran/conda/nextflow'

singularity {

  cacheDir = '/data/genome/bmoran/singularity/nextflow'
  runOptions = '--bind /data/genome/bmoran:/data/genome/bmoran'

}
