/*
 * -----------------------------------------------------
 *  somatic_exome_n-of-1 references Nextflow config file
 * -----------------------------------------------------
 * Default config options for all environments.
 */
/*
 * --------------------------------------------------------
 *  Nextflow config file for UCD Sonic HPC cluster (SLURM)
 * --------------------------------------------------------
 * Imported under 'sonic_refs' Nextflow profile in:
 * nextflow.config
 *
 * NB that each node (67 standard) have 20 - 48 cores
 * so variabvle amounts of RAM
 */

process {

  executor = 'slurm'
  cache = 'lenient'
  time = '48.h'

  withLabel:gs {
    container = 'shub://brucemoran/Singularity:centos7-gsutil'
  }

  withLabel:low_mem {
    cpus = 2
    container = 'library://bruce.moran/default/projects:somatic_n-of-1.centos7.conda'
  }

  withLabel:med_mem {
    cpus = 4
    container = 'library://bruce.moran/default/projects:somatic_n-of-1.centos7.conda'
  }

  withLabel:high_mem {
    cpus = 12
    container = 'library://bruce.moran/default/projects:somatic_n-of-1.centos7.conda'
  }

  withLabel:max_mem {
    cpus = 20
    container = 'library://bruce.moran/default/projects:somatic_n-of-1.centos7.conda'
  }

}

conda.cacheDir = '/home/people/moranb/conda'

singularity {

  cacheDir = '/home/people/moranb/singularity/nextflow'
  autoMounts = 'true'

}

params {

  //allow to not DL dbSNP+other large variant DBs (530 error on limit to connections, but allow other resources to be updated)
  nodbsnp = null

  //allow not setting VEP
  novep = null

  //allow not setting PCGR data
  nopcgr = null
  pcgrURL37 = 'http://insilico.hpc.uio.no/pcgr/pcgr.databundle.grch37.20200920.tgz'
  pcgrURL38 = 'http://insilico.hpc.uio.no/pcgr/pcgr.databundle.grch38.20200920.tgz'
  hartwigGPLURL37 = 'https://nextcloud.hartwigmedicalfoundation.nl/s/LTiKTd8XxBqwaiC/download?path=%2FHMFTools-Resources%2FGRIDSS-Purple-Linx-Docker&files=gridss-purple-linx-hg19-refdata-Dec2019.tar.gz'
  hartwigGRIDSSURL37 = 'https://nextcloud.hartwigmedicalfoundation.nl/s/LTiKTd8XxBqwaiC/download?path=%2FHMFTools-Resources%2FGRIDSS&files=GRIDSS_PON_3792v1.hg19.zip'

  //autoset which pipeline to run (GRCh38 by default)
  outDir = "work"
  exomeBedURL = null
  exomeBedFile = null
  exomeTag = null

  //old tools not supported but not removed from script turned off by this
  legacy = null

  //for upcoming 'tumour-only' pipeline/spinoff
  pisces = null

  //COSMIC
  cosmicUser = null
  cosmicPass = null
  cosmicVers = "v91"
}

timeline {
  enabled = true
  file = "pipeline_info/download-references.${params.assembly}.timeline.html"
}

report {
  enabled = true
  file = "pipeline_info/download-references.${params.assembly}.report.html"
}

trace {
  enabled = true
  file = "pipeline_info/download-references.${params.assembly}.trace.txt"
}

dag {
  enabled = true
  file = "pipeline_info/download-references.${params.assembly}.dag.svg"
}
